<!DOCTYPE html>

<html lang="en">

<head>
    <title>Home</title>
</head>

<body>
    <a href="">Home</a>
    <a href="/view/gallery/gallery.html">Gallery</a>
    <br>
    <p>This is gallery icon.</p>
    <a href="/view/gallery/gallery.html"><img width= 150px src="/img/galleryicon.png"></a>
    <p>This is my Facebook.</p>
    <a href="https://www.facebook.com/danielnguyen23/"><img width= 150px src="/img/fbicon.png"></a>
    <br>
        <h3>General information</h3>
        <p>Name: Đạt</p>
        <p>Sex: Man</p>
        <p>Age: Old</p>
        <h3>Profile picture</h3>
        <img width="20%" src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.18169-9/1456765_771194582897820_166585562_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=FKxiD7teyrsAX_KBYh9&_nc_ht=scontent.fsgn5-4.fna&oh=86f90902129bd34976b0c4be9b31ad7f&oe=61BF6BE5">
        <h3>List of my hobbies</h3>
        <ol>
            <li>Earn money</li>
            <li>Play football</li>
            <li>Read comic</li>
        </ol>
        <h3>Quote</h3>
        <img width="20%" src="https://www.quotemaster.org/images/s_bc/bc4774611c967ca427266e9c8291fa3c.png">
    </body>
</html>